body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
}

body,
.snake {
  background-color: #414141;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
  position: absolute;
  top: 65%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

.snake {
  background-color: #5a5a5a;
  border: 1px dotted #5a5a5a;
  position: relative;
}

/* Update this part to use the apple image */
.food {
  background-image: url("./img/redApple.webp");
  background-size: cover; /* Ensure the image covers the div */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image within the div */
  border: none; /* Remove border if any */
  width: 100%; /* Make sure it scales with the grid cell */
  height: 100%; /* Make sure it scales with the grid cell */
}

#logo {
  position: absolute;
}

/* Add this new CSS for the footer */
#footer {
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  color: #d8ddca; /* Match the high score color or change as desired */
  font-size: 14px;
  font-family: "VT323", monospace;
}
